*{
    margin: 0;
    padding: 0;
}
.logo
{
    padding: 0 13px;
}
.logo img
{
    width: 32px;
}
nav
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:black;
    color: white;
    height: 56px;
}
.content
{
    font-family: serif,cursive;

}
.container
{
    /* background-color: red; */
    width: 60vw;
    margin: auto;
    padding: 32px 0;


}